body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #5a5a5b;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
}
.img-hover:hover{
             transform: scale(1.02);
        }
.full-width{
    width: 100%;
}
.border-img{
            border: 1px solid #005486;
            padding: 5px;
            border-radius: 5px;
        }
.fixed-button{
    width: 95% !important;
    min-height: 80px !important;
    line-height: 17px !important;
    padding: 0px 0px !important;
}
.hs-responsive-embed-youtube {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    padding-top: 25px;
}

.hs-responsive-embed-youtube iframe {
    position: absolute;
    width: 100%!important;
    height: 100%!important;
}
.oculto{
    display: none;
}
.table-bordered {
    border: 0px solid #dee2e6 !important;
}
.table th {
    text-align: center !important;
    vertical-align: middle !important;
    background-color: #005486;
    color: #ffd13f;
}
.back-dark{
    background-color: #b5b2b3;
    margin-top: 0px;
}
.back-dark-content{
    background-color: #e2e2e2;
    border-radius: 5px;
}
.padding-content{
    padding: 10px 20px 20px 20px;
}
.top-header{
    background-color: #e00109;
    min-height: 40px;
}
.titulo-modulo{
    color: white;
    font-size: 15px;
    line-height: 15px;
    margin-top: 13px;
    margin-bottom: 13px;
}
.green-button{
   background-color: #b1b82e !important;
    margin-bottom: 10px;
    color: white;
    padding: 10px 24px;
}
.green-button:hover,.green-button-2:hover{
    background-color: #919629 !important;
}
.green-button-2 {
    background-color: #b1b82e !important;
    margin-bottom: 10px;
    color: white;
    padding: 5px 10px;
}
.front-white{
	background-color: white;
	margin-top: 0px;
	margin-bottom: 200px;
	--padding: 12% 12%;
}
.white-back{
    background-color: white;
}
#img-logo{
	width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.justify-text{
    text-align: justify;
}
.p-15-20{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #5a5a5b;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    --line-height: 20px;
}


.hidden{
    display: none;
}
.title-color{
    color: #bf1a36;
}




.centrado{
    text-align: center;
}
.color-sky-blue{
  color: #10a6bc;
}
.color-green-clear{
    color: #9ea320;
}
.font-check{
    font-size: 20px;
}

.rota-horizontal{
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.info-button{
    font-size: 15px !important;
    line-height: 15px !important;
}
.line-h-btn{
    line-height: 20px !important;
}
@media (max-width: 575px) {

}

@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}


@media (max-width: 767px) {
	.h3-titulos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 31px;
    line-height: 36px;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
    --font-weight: bold;
}
.h3-subtitulos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    --font-weight: bold;
}
 .titulo-modulo{
        text-align: center;
	 
    }
	.table-overflow{
                width: 200%;
            }
.modal-super-big{
    max-width: 100% !important;
}
.padd-40{
    padding: 20px;
}
	.overflow-x{
    overflow-x: scroll;
}
	.p-12-15{
     font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #5a5a5b;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    line-height: 16px;
}
}

@media (min-width: 768px) {
    .titulo-modulo{
        text-align: left;
    }
.modal-super-big{
    max-width: 85% !important;
}
.padd-40{
    padding: 40px;
}
	.table-overflow{
                width: 100%;
            }
	.overflow-x{
    overflow-x: none;
}
	.p-12-15{
     font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #5a5a5b;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    line-height: 19px;
}
	.h3-titulos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
    --font-weight: bold;
}
.h3-subtitulos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    --font-weight: bold;
}
}
/**/
